@page
@model MyApp.Namespace.OmModel
@{
    ViewData["Title"] = "Om sidan"; // Titel på sidan
}

<article>
    <h2 class="mb-4">Om sidan</h2>
    <p>
        Mitt namn är Isa Westling och jag studerar Webbutvecklingsprogrammet vid Mittuniversitetet. Jag
        är just nu inne på min fjärde och sista termin, där jag bygger på mina kunskaper och förbereder mig för en
        framtid inom webbutveckling.
    </p>

    <section>
        <h3 class="mb-3 mt-4">Kunskaper och färdigheter</h3>
        <p>Under min utbildning har jag bland annat utvecklat kunskaper inom följande områden:</p>
        <ul>
            <li>HTML, CSS och JavaScript</li>
            <li>.NET och C#</li>
            <li>Webbutveckling med ASP.NET Core,Angular Razor och Blazor</li>
            <li>Databaser (SQL och NoSQL)</li>
            <li>PHP</li>
            <li>Frontend-ramverk som Angular, Vue och React</li>
            <li>Backend-utveckling med JavaScript (Node.js) och C#</li>
            <li>Fullstack-utveckling</li>
            <li>Webbanvändbarhet och tillgänglighet</li>
            <li>CMS och WordPress.</li>
        </ul>
    </section>
</article>